<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cug.sxy.infrastructure.dao.INotifyTaskDao">

    <resultMap id="dataMap" type="cn.cug.sxy.infrastructure.dao.po.NotifyTask">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="team_id" property="teamId"/>
        <result column="notify_type" property="notifyType"/>
        <result column="notify_target" property="notifyTarget"/>
        <result column="notify_count" property="notifyCount"/>
        <result column="notify_status" property="notifyStatus"/>
        <result column="parameter_json" property="parameterJson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertNotifyTask" parameterType="cn.cug.sxy.infrastructure.dao.po.NotifyTask">
        insert into notify_task (activity_id, team_id, notify_type, notify_target, notify_count, notify_status,
                                 parameter_json)
        values (#{activityId}, #{teamId}, #{notifyType}, #{notifyTarget}, #{notifyCount}, #{notifyStatus},
                #{parameterJson})
    </insert>

    <select id="queryUnExecuteSuccessNotifyTaskList" parameterType="java.lang.String" resultMap="dataMap">
        select activity_id,
        team_id,
        notify_type,
        notify_target,
        notify_count,
        notify_status,
        parameter_json
        from notify_task
        where notify_status in (0, 2)
        <if test="teamId != null">
            and team_id = #{teamId}
        </if>
    </select>

    <update id="updateNotifyTaskStatus" parameterType="cn.cug.sxy.infrastructure.dao.po.NotifyTask">
        update notify_task
        set notify_status = #{notifyStatus},
            notify_count  = notify_count + 1
        where team_id = #{teamId}
    </update>

</mapper>
